body {
  background: #3d087b;
}
.bg {
  /* border: 1px solid black; */
  width: 1118px;
  height: 644px;
  background: #3d087b;
  margin: 42px 124px 82px 124px;
}
.top {
  height: 130px;
  width: 100%;
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
}
.left {
  /* border: 1px solid black; */
  margin-top: 17px;
  width: 204px;
  height: 77px;
  background-image: url(./images/clock_logo.png);
  background-size: cover;
}
.right {
  /* padding: 20px 39px; */
  width: 536px;
  height: 128px;
  border: 1px solid #ededed;
  background-color: white;
  border-radius: 10px;
  z-index: 3;
}
.levelPlus2 {
  /* border: 1px solid black; */
  height: 130px;
  width: 416px;
  margin: auto;
  border-radius: 10px;
  position: absolute;
  top: 55px;
  left: 766px;
  z-index: 2;
  background-color: white;
  opacity: 0.71;
}
.levelPlus1 {
  /* border: 1px solid black; */
  height: 130px;
  width: 379px;
  margin: auto;
  border-radius: 10px;
  position: absolute;
  top: 67px;
  left: 785px;
  z-index: 1;
  background-color: white;
  opacity: 0.22;
}
.time-container {
  margin: 20px 39px;
  width: 458px;
  height: 90px;
  display: flex;
  justify-content: space-between;
}
.time-text {
  /* border: 1px solid black; */
  padding-top: 32px;
  width: 46px;
  height: 26px;
  font-size: 20px;
  font-family: "Manrope";
  color: #3d087b;
  font-weight: 600;
}
.time {
  /* border: 1px solid black; */
  width: 382px;
  height: 90px;
  display: flex;
  justify-content: space-between;
  font-family: Barlow;
}
.time-box {
  /* border: 1px solid black; */
  width: 82px;
  height: 90px;
  text-align: center;
}
.time-box1 {
  background-image: url(./images/timeline.svg);
  background-repeat: no-repeat;
}
.time-box2 {
  background-image: url(./images/timeline.svg);
  background-repeat: no-repeat;
}
.time-box3 {
  background-image: url(./images/timeline.svg);
  background-repeat: no-repeat;
}
.time-box4 {
  background-image: url(./images/AM_svg.svg);
}
.num-hour {
  height: 43px;
  width: 38px;
  font-size: 36px;
  margin-top: 6px;
  margin-left: 20px;
  /* border: 1px solid black; */
  color: #8a11bf;
}
.hour {
  /* border: 1px solid black; */
  width: 56px;
  height: 28px;
  font-size: 22px;
  margin: auto;
  color: #5f0089;
}
.num-min {
  height: 43px;
  width: 38px;
  font-size: 36px;
  margin-top: 6px;
  margin-left: 20px;
  /* border: 1px solid black; */
  color: #8a11bf;
}
.min {
  /* border: 1px solid black; */
  width: 56px;
  height: 28px;
  font-size: 22px;
  margin: auto;
  color: #5f0089;
}
.num-sec {
  height: 43px;
  width: 38px;
  font-size: 36px;
  margin-top: 6px;
  margin-left: 20px;
  /* border: 1px solid black; */
  color: #8a11bf;
}
.sec {
  /* border: 1px solid black; */
  width: 56px;
  height: 28px;
  font-size: 22px;
  margin: auto;
  color: #5f0089;
}
.col1 {
  color: #8a11bf;
  height: 22.41px;
  width: 4.21px;
  font-size: 45px;
  position: relative;
  left: 82.5px;
  top: -70px;
}
.col2 {
  color: #8a11bf;
  height: 22.41px;
  width: 4.21px;
  font-size: 45px;
  position: relative;
  left: 82.5px;
  top: -70px;
}
.am {
  margin: 24px 17px;
  font-size: 36px;
  color: #ffffff;
}
.bottom {
  /* border: 1px solid black; */
  height: 474px;
  width: 1118px;
  position: absolute;
  top: 212px;
}
.timer {
  width: 566px;
  height: 300px;
  background-color: white;
  border: 1px solid #ededed;
  border-radius: 10px;
  margin-bottom: 15px;
  font-family: Manrope;
}
.wake-img {
  background-image: url(./images/wake_up.svg);
  width: 34px;
  height: 34px;
  position: relative;
  top: 36px;
  left: 25px;
  color: #3d087b;
}
.wake-text {
  width: 141px;
  height: 23px;
  font-size: 18px;
  position: absolute;
  top: 41px;
  left: 80px;
}
.wake-drop {
  position: absolute;
  top: 30px;
  left: 261px;
}
.ver-line1 {
  position: absolute;
  top: 84.72px;
  left: 42.5px;
  height: 33px;
  border-left: 1px solid #c2c2c2;
}
.lunch-img {
  background-image: url(./images/lunch_time.svg);
  width: 34px;
  height: 34px;
  position: absolute;
  top: 133px;
  left: 25px;
  color: #3d087b;
}
.lunch-text {
  width: 141px;
  height: 23px;
  font-size: 18px;
  position: absolute;
  top: 138px;
  left: 80px;
}
.lunch-drop {
  position: absolute;
  top: 127px;
  left: 261px;
}
.ver-line2 {
  position: absolute;
  top: 181.88px;
  left: 42.5px;
  height: 33px;
  border-left: 1px solid #c2c2c2;
}
.nap-img {
  background-image: url(./images/nap_time.svg);
  width: 34px;
  height: 34px;
  position: absolute;
  top: 231px;
  left: 25px;
  color: #3d087b;
}
.nap-text {
  width: 141px;
  height: 23px;
  font-size: 18px;
  position: absolute;
  top: 236px;
  left: 80px;
}
.nap-drop {
  position: absolute;
  top: 225px;
  left: 261px;
}
select {
  width: 281px;
  height: 45px;
  border: 1px solid #ededed;
  padding: 14px 16px;
  letter-spacing: 0.25px;
  color: #3d087bde;
  background-color: white;
  border-radius: 4px;
  cursor: pointer;
}
option {
  width: 281px;
  height: 45px;
  padding: 14px 16px;
  letter-spacing: 0.25px;
  background-color: #ddf5ff;
  opacity: 0;
}
.task-image {
  background-color: white;
  background-image: url();
  background-size: cover;
  border-radius: 10px;
  width: 536px;
  height: 474px;
  position: absolute;
  top: 0px;
  left: 582px;
}
#task-text {
  font-family: Bauhaus Hv BT;
  font-size: 30px;
  color: #8e53f0;
  position: relative;
  top: 35px;
  left: 30px;
}
.set {
  display: none;
}
.set-box {
  width: 566px;
  height: 77px;
  margin-top: 20px;
  opacity: 23%;
  background-color: white;
  border: 1px solid #ededed;
  border-radius: 10px;
}
.set-text {
  font-family: Bauhaus Hv BT;
  font-size: 20px;
  color: #ffffff;
  opacity: 100%;
  position: relative;
  top: -75px;
  left: 25px;
}
.party-box {
  width: 299px;
  height: 50px;
  font-family: Manrope;
  /* margin-top: 20px; */
  font-size: 24px;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  background-image: linear-gradient(
    113deg,
    #6e54ec 0%,
    #cb52f8 40%,
    #fc5eff 81%,
    #f1a7c5 100%
  );
  z-index: 1;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.party-box:hover {
  background-image: linear-gradient(
    280deg,
    #6e54ec 0%,
    #cb52f8 40%,
    #fc5eff 81%,
    #f1a7c5 100%
  );
}
.party-text {
  position: relative;
  top: -2px;
  left: 0px;
}
